# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
*.sqlite3

# Django
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.swp
*.DS_Store
*.sqlite3
/staticfiles/
media/product_images/    # Ignore uploaded product images in production
*.py[cod]

# IDEs
.vscode/
.idea/

# macOS
.DS_Store

# Environments
venv/
env/
